<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/app.css">

</head>
<body>
    <%- include('./partials/nav') %>
    <h1>Company History</h1>
    <p>Founded in 2015, our company began with a small team of passionate software engineers 
        driven by a shared vision: to create innovative digital solutions that empower businesses. 
        Starting as a niche developer of custom web applications, we quickly gained recognition for 
        our commitment to quality and our ability to deliver cutting-edge products. Over the years, 
        we've expanded our services to include mobile app development, AI integrations, and 
        cloud-based solutions, serving clients across diverse industries from e-commerce to finance. 
        Today, our team is composed of experts in various fields who collaborate to tackle complex 
        challenges, continually pushing the boundaries of technology to create impactful, user-centered 
        software. Our journey is built on a foundation of trust, transparency, and an unwavering 
        dedication to helping our clients succeed in an increasingly digital world.</p>
</body>
</html>